<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'login/css/style.css' %}">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ item.name }}</title>
</head>
<body>
        <a href="/login/quotes">Dashboard</a> |
        <a href="/login/logout">Logout</a>
    <div>
        <h2>Posts by: {{ theUser.name }} </h2>
        <h3>Count:  {{ theUser.count }} </h3>
        <ul>
            {% for q in theUser.quotes %}
                <p>
                <span class=name> {{ q.name }} : </span> 
                <span> {{ q.quote }} </span> 
                </p>
            {% endfor %}

        </ul>

    </div>
</body>
</html>