/*CSS reset settings here*/
/* Jim_W */
*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Verdana, sans-serif;
  }

h1 {
    color: black;
    vertical-align: top;
}
h6 {
    color: red;
}
.bold {
    font-style: bold;
}
.it {
    font-style: italic;
}
.text {
    color: green;
}
.success {
    color: green;
}
body {
    margin: 40px;
    padding: 40px;
    width: 800px;
}

.flash {
    margin: 10px;
    padding: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    width: 300px;
    color: white;
    background-color: red;
}

.alert {
    background-color: red;
}

.panel {
    margin : 0px;
    width: 350px;
    display: inline-block;    
    vertical-align: top;
}
.others {
    height : 400px;
}
.favs {
    height : 200px;
}
.quotes {
    margin : 0px;
    width: 300px;
    padding: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    vertical-align: top;
    overflow-y: scroll;
}

.name {
    display : inline-block;
    color : red;
}
.aQuote {
    padding : 5px;
    margin-bottom : 5px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

span {
    display: inline-block;
}

div { 
    padding: 10px 0px;
}

p {
    margin-top: 18px;
    font-size: 18px;
}

.tblock {
    display: block;
    padding: 10px;
    border-radius: 4px;
}
table, th, td {
    background-color: green;
    border: 1px solid black;
    border-collapse: collapse;
}

